<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">
    <!--    1加载context命名空间的支持-->
    <!--    xmlns:context="http://www.springframework.org/schema/context"-->
    <!--    2.加载指定的properties配置文件-->
<!--    <context:property-placeholder location="classpath:*.properties"/>-->
<!--    <import resource="applicationContext-user.xml"/>-->
<!--    <import resource="applicationContext-book.xml"/>-->
<!--    第三方资源配置-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" >
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssmbuild"/>
        <property name="username" value="root"/>
        <property name="password" value="15149622693"/>
    </bean>
</beans>