<component name="ArtifactManager">
  <artifact type="war" name="spring003:war">
    <output-path>$PROJECT_DIR$/spring/spring003/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring003</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring003-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring003:war exploded" />
    </root>
  </artifact>
</component>