<component name="ArtifactManager">
  <artifact type="war" name="spring004-mybatis:war">
    <output-path>$PROJECT_DIR$/spring/spring004-mybatis/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring004-mybatis</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring004-mybatis-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring004-mybatis:war exploded" />
    </root>
  </artifact>
</component>