<component name="ArtifactManager">
  <artifact type="war" name="springboot001:war">
    <output-path>$PROJECT_DIR$/springboot/springboot001/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot001</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot001-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot001:war exploded" />
    </root>
  </artifact>
</component>