<component name="ArtifactManager">
  <artifact type="war" name="spring007:war">
    <output-path>$PROJECT_DIR$/spring/spring007/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring007</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring007-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring007:war exploded" />
    </root>
  </artifact>
</component>