<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <a href="index.html">单词录入页</a>
            <a href="1.html">单词页</a>
        </div>
        <div>
            {{d}}
            当前查看的表 {{biaoming}}
        </div>
        <div ref="div2">
            <button @click="ci1('a')">查看词库</button>
            <button @click="ci1('aa')">查看收藏表</button>
        </div>
        <div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <th>索引</th>
                    <th>{{ci}}</th>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in list">
                        <td>{{ index+1 }}</td>
                        <td>{{ item}}</td>
                        <td><button @click="m5(item)">选择{{item}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <th>索引</th>
                    <th>单词</th>
                    <th>翻译</th>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in list2">
                        <td>{{ index+1 }}</td>
                        <td>{{ item.name}}</td>
                        <td>{{ item.fanyi}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            english: '23',
            list: '',
            biaoming: 'english0001',
            ci: '词库表',
            list2: '',
        },
        methods: {
            m5(n) {
                this.biaoming = n;
                this.ci1("b")
            },
            ci1(n) {
                let a
                let bb
                if (n === 'a') {
                    this.ci = "词库表"
                    a = 'a'
                } else if (n === 'aa') {
                    this.ci = "收藏表"
                    a = 'aa'
                } else if (n === "b") {
                    bb = "username=" + this.biaoming
                    if (this.ci === "词库表") {
                        a = "a2"
                    } else {
                        a = "aa2"
                    }
                }
                let xmlHttp = new XMLHttpRequest();
                xmlHttp.open("post", a, true);
                xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xmlHttp.send(bb);
                var tt = this
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200 && (n === 'a' || n === "aa")) {
                        let b = JSON.parse(xmlHttp.responseText)
                        let arr2 = [];
                        arr2.splice(0, arr2.length);
                        for (let i in b) {
                            arr2.push(b[i]);
                        }
                        tt.list = arr2
                    }
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200 && (n === 'b')) {
                        let b = JSON.parse(xmlHttp.responseText)
                        let arr2 = [];
                        arr2.splice(0, arr2.length);
                        for (let i in b) {
                            arr2.push(b[i]);
                        }
                        tt.list2 = arr2
                    }
                }
            },
        },
        created() {
            this.ci1("a")
            this.ci1("b")

        }
    })
</script>

</html>